.section {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.leftInfo {
  width: 40%;
}
.rightInfo {
  width: 60%;
  position: relative;
  margin-left: 35px;
}
.contactForm {
  width: 100%;
  // height: 300px;
  background: #000;
  flexgrow: 1;
  display: flex;
}
.input,
.textarea {
  width: 100%;
  outline: none;
  font-size: 16px;
  background: #2b2b2b;
  color: #8d8d8d;
  padding: 0 20px;
  height: 50px;
  border: 0;
}
.textarea {
  resize: vertical;
  overflow: auto;
  min-height: 150px;
}
.container {
  padding-right: 35px;
  position: relative;
  overflow: hidden;
}
.blank {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #f39c12;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}
.input:focus + .blank::after,
.textarea:focus + .blank::after {
  transform: translateX(0%);
}
.inputError {
  border-bottom: 1px solid red;
}
.map {
  height: 100vh;
}
@media only screen and (max-width: 800px) {
  .section {
    flex-direction: column;
    height: auto;
  }
  .leftInfo {
    width: 100%;
  }
  .rightInfo {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .map {
    height: 35vh;
  }
}
// @media only screen and (max-width: 600px) {

//   .rightInfo {
//     display: none;
//   }
// }
