.navbar {
  background: #181818;
  position: fixed;
  display: flex;
 
}

.navLinks,
.socialLinks {
  display: flex;
  flex-direction: column;
}
.socialLinks {
  margin-bottom: 15px;
}
.item,
.socialItem {
  text-align: center;
}
.item {
  padding: 20px 0;
  & a.active {
    & svg {
      fill: #f39c12;
    }
  }
}
.socialItem {
  padding: 5px 0;
}

.iconLink,
.socialLink {
  fill: #8a8888;
  cursor: pointer;
  transition: all 0.07s cubic-bezier(0.49, 0.27, 0.83, 0.67);
  &:hover {
    fill: #f39c12;
  }
}
.test-link-active {
  color: red;
}
@media only screen and (max-width: 600px) {
  .navbar {
    height: 5rem;
    width: 100vw;
    bottom: 0;
    flex-direction: row;
    z-index: 10000;
  }
  .navLinks {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;  
  }
  .logo { 
    display: none;
  }
  .socialLinks{
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}